.signup-modal-background {
    width: 100%;
    height: 100vh;
    background: url('../../assets/signup-modal-bg.jpeg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.signup-modal-container {
    width: 40rem;
    height: 57rem;
    border-radius: 1.2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

  .signup-modal-container .title {
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
  }

  .signup-modal-container .title h1 {
      color: lightseagreen;
      font-size: 3.2rem;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: blue;
  }
  
  .signup-modal-container .body {
    padding-top: 1rem;
    width: 100%;
  }

  .signup-modal-container .body form {
    width: 92%;
  }

  .signup-modal-container .body form input {
      width: 100%;
      padding: 0.75rem 1rem;
      margin: 1rem 0;
      border: 1px solid gray;
      outline: none;
      border-radius: 0.5rem;
      padding-inline-start: 2rem;
      font-size: 2rem;
  }
  
  .signup-modal-container .body form .footer {
    width: 109%;
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }
  
  .signup-modal-container .body form .footer button {
    width: 100%;
    height: 4.5rem;
    border: none;
    background-color: #FDBE34;
    color: darkcyan;
    border-radius: .8rem;
    font-size: 2.8rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
}